.cover__description-text,
.bet-button,
.lots__heading,
.about__title,
.card__title {
    text-transform: uppercase;
}

.header {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: 3.9fr 0.9fr 3.9fr;
  margin: 92px 50px 96px 50px;
=======
  grid-template-columns: 1fr minmax(148px, auto) 1fr;
  align-items: center;
  padding: 92px 50px;
  gap: 25px;
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
}

.header__links-list {
  display: flex;
  align-items: center;
}

.header__links-list-main {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__links-list-item,
.header__links-list-item_no-bullit {
  display: list-item;
  list-style-type: none;
}

.header__link_active,
.header__link {
  text-decoration: none;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__link {
  display: list-item;
  list-style-type: circle;
  border-bottom: 1px solid black;
}

.header__logo {
<<<<<<< HEAD
  display: grid;
  align-content: start;
  width: 138px;
  height: 105px;
}

.header__logo-image {
  display: block;
  align-content: start;
=======
  display: block;
  width: 200px;
  justify-self: start; 
}

.header__logo-image {
  width: 148px;
  height: auto;
  margin-left: 15px;
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
}

.header__address {
  display: flex;
  align-items: center;
  justify-content: end;
}

<<<<<<< HEAD
.contacts-element {
  width: 240px;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
=======
.address {
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
  font-style: normal;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.6px;
}

.mail-address,
.phone-address {
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  border-bottom: 0.5px solid black;
}

.city-address-second,
.city-address-first {
  display: flex;
  align-self: flex-start;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.footer__address {
  justify-self: start;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
<<<<<<< HEAD
}

.cover__title {
  z-index: 2;
  padding-top: 165px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-transform: uppercase;
  row-gap: 19px;
  grid-template-areas:
    "start start start"
    "center center center"
    "end end end ";
}

.aligned-text {
  margin: 0px 50px;
  text-align: start;
  grid-area: start;
  line-height: 115%;
}

.aligned-text_right,
.aligned-text_center,
.aligned-text {
=======
  position: relative;
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
  min-height: 757px;
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
  grid-area: center;
  justify-self: center;
  margin: 0px 95px 0px 65px;
  
}

.aligned-text_right {
  line-height: 70px;
  text-align: end;
  grid-area: end;
  margin: 0px 50px 0px 50px;
}

.new-letter-spacing {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.bet-button,
.cover__description-text {
  color: #fff;
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin: 105px 50px 0px 50px;
  padding-bottom: 50px;
}

.cover__description-text {
  padding-left: 372px;
  display: flex;
  align-items: center;
  justify-content: end;
  letter-spacing: 0px;
  word-spacing: 17px;
}

.bet-button {
  display: flex;
  padding: 12px 32px;
<<<<<<< HEAD
  border: 1px solid #ffffff;
  background: none;
=======
  color: #ffffff !important;
  vertical-align: middle;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  width: 256px;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 0;
  transition: all 0.2s ease;
  position: relative;
  z-index: 3;
  margin-bottom: 5px;
  text-transform: uppercase;
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
}

.cover__description-text-new-word-spacing{
  word-spacing: 19px;
}

.lots {
<<<<<<< HEAD
  margin: 180px 50px 0px 50px;
  flex-shrink: 0;
=======
  margin-top: 180px;
  padding-left: 40px;
  width: calc(100% - 40px); 
  width: 100%;
  box-sizing: border-box;
  margin-bottom: -30px; 
}

.lots__more {
  display: inline-block;
  margin: 30px 0 0 60px;
}

.lot {
  flex: 1;
  min-width: 250px;
}

.lots__list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  z-index: 1;
  min-width: 334px;
  min-height: 596px;
  list-style: none;
  padding-right: 40px;
}

.lots__item {
  flex: 0 0 430px;
  max-width: 334px;
  max-height: 596px;
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
<<<<<<< HEAD
}

.lots__card-list {
=======
  margin: 0 0 27px 60px;
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin-bottom: 20px;
}

.aligned-text {
  display: block;
  margin: 20px 0 0;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__button {
  width: 256px;
  height: 51px;
  margin-top: 48px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  min-width: 1100px;
  color: var(--text-dark);
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 180px 50px;
  background: hsl(0, 0%, 100%);
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  z-index: 2;
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
<<<<<<< HEAD
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
=======
  background: url("../images/card-lot-03.jpg") no-repeat center/cover;
}

.card__title {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
}

.card__text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
<<<<<<< HEAD
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  justify-content: space-around;
=======
  font-weight: 100;
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
}

.card__title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-decoration-skip-ink: none;
}

.lots__look-more-link-text {
  text-decoration: none;
  border-bottom: 1px solid black;
}

<<<<<<< HEAD
.lots__look-more-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 40px;
  
}


.about {
  margin: 180px 50px 184px 50px;
}

.about__text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: #000;
=======
.footer {
  gap: 40px;
  padding: 180px 50px 90px;
  background-color: white;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -100px;
  
}

.footer__menu {
>>>>>>> 8761bf1313b27f669c59f571a303d550572a8ee9
  justify-self: center;
}

.about__logo-image {
  display: grid;
  width: 148px;
  height: 114px;
  margin-left: 46px;
  align-self: center;
}

.about__title-and-text-wrapper {
  margin: 101px 0px 0px 25px;
  display: grid;
  row-gap: 30px;
}

.about__title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
}

footer {
  margin: 0px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  display: grid;
  align-content: start;
  justify-items: center;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__social-list-item-logo{
  width: 48px;
}

.footer__menu-link {
  display: grid;
  align-self: center;
  color: #000;
  text-align: center;
  text-decoration-skip-ink: none;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link_active {
  border-bottom: none;
  text-decoration: none;
}
