.cover__description-text,
.bet-button,
.lots__heading,
.about__title,
.card__title {
  text-transform: uppercase;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  padding: 31px 49px 47px;
  font-size: 18px;
  width: 1100px;
  min-height: 293px;
}

.header__menu {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  justify-self: start;
  letter-spacing: 0.4px;
  margin-top: 12px;
  margin-right: 16px;
}

.header__list {
  display: flex;
  padding-left: 0px;
  align-items: center;
  gap: 11px;
  margin: 0px;
  list-style: circle;
  justify-content: space-between;
}

.header__item {
  color: rgb(0, 0, 0);
  display: list-item;
  align-items: center;
  font-size: 18px;
  line-height: 1.2;
  position: relative;
  list-style: none;
  margin: 1px;
  gap: 28px;
}

.header__item:not(:first-child) {
  list-style: circle;
  margin-left: 19px;
  position: relative;
}

.header__link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  list-style: circle;
  list-style-position: inside;
  position: relative;
  padding-bottom: 2px;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-size: 18px;
  transform: none;
}

.header__link--active {
  text-decoration: none;
}

.header__logo {
  display: block;
  min-height: 200px;
  justify-self: start;
  margin-left: 18px;
  margin-top: 15px;
  padding: 0;
}

.header__logo-image {
  width: 136px;
  min-height: 105px;
  margin-right: 17px;
  margin-top: 47px;
}

.header__address {
  max-width: 240px;
  width: 100%;
  justify-self: end;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  margin-top: 13px;
  font-style: normal;
  line-height: 1.35;
  font-size: 18px;
  text-underline-offset: 3px;
  margin-right: 1px;
}

.address {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.35;
  font-size: 18px;
  text-underline-offset: 3px;
  margin-top: 50px;
  max-width: 240px;
}

.footer__address {
  justify-self: start;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
  color: #fff;
  z-index: 1;
  width: 1100px;
  max-height: 757px;
}

.cover__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  line-height: 1;
  min-width: 1000px;
  max-height: 385px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 0px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 109px;
  gap: 45px;
  z-index: 2;
  width: 1000px;
  max-height: 51px;
}

.cover__description-text {
  color: rgba(255, 255, 255, 0.877);
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 22px;
  word-spacing: 19px;
  white-space: nowrap;
  margin: 0px;
  vertical-align: middle;
  margin-top: 0px;
  line-height: 28px;
  margin-left: 1px;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
  margin: 10px 0px 15px;
}

.aligned-text_center {
  text-align: center;
  margin: 36px 329px 35px;

}

.aligned-text_right {
  text-align: right;
  transform: translateX(33px);
}

.bet-button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background: transparent;
  border: 1px solid #ffffff;
  padding: 12px 32px;
  color: #ffffff;
  vertical-align: middle;
  font-size: 22px;
  cursor: pointer;
  width: 256px;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 0;
  transition: all 0.2s ease;
  position: relative;
  z-index: 3;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.bet-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.bet-button:active {
  background: #fff;
  color: #000;
}

.lots {
  margin-top: 180px;
  padding-left: 92px;
  width: 1052px;
  box-sizing: border-box;
  margin-bottom: 0px;
  font-weight: lighter;
}

.lots__more {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 31px 0 0px;
  transform: translateX(-21px);
  width: 192px;
  font-size: 20px;
  text-underline-offset: 5px;
  white-space: nowrap;
}

.lots__list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  z-index: 1;
  min-width: 334px;
  min-height: 596px;
  list-style: none;
  padding-right: 45px;
  flex-wrap: nowrap;
}

.lots__item {
  flex: 0 0 430px;
  max-width: 334px;
  max-height: 596px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin: 2px 0 27px;
  transform: translateX(-28px);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.about {
  display: grid;
  grid-template-columns: 304px 1fr;
  gap: 26px;
  padding: 151px 51px;
  background: hsl(0, 0%, 100%);
  width: 1052px;
  min-height: 595px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 21px;
}

.about__logo-image {
  width: 148px;
  min-height: 114px;
}

.about__title {
  font-size: 40px;
  margin: 109px 0px 100px;
  letter-spacing: 0;
}

.about__text p {
  font-size: 20px;
  line-height: 1.2;
  margin: 22px 0px 0px;
  width: 688px;
}

.about__text p:last-child {
  margin-bottom: 0;
  width: 693px;
}

.header__link:hover,
.footer__link:hover {
  opacity: 0.7;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  transition: transform 0.3s;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card {
  position: relative;
  height: 100%;
  padding: 50px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") no-repeat center/cover;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") no-repeat center/cover;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") no-repeat center/cover;
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 2;
  color: #ffffff;
  width: 254px;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  margin-top: 1px;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 2px;
}

.footer {
  gap: 40px;
  padding: 74px 50px 94px;
  background-color: white;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0px;
  width: 1100px;
  max-height: 180px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  text-underline-offset: 3px;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
  margin-top: 0px;
}

.footer__social-icon {
  width: 48px;
  min-height: 48px;
  object-fit: cover;
}

.header__link:hover,
.footer__menu-link:hover {
  opacity: 0.7;
}
